<div class="auth-container">

  <mat-card class="auth-card">

    <mat-card-header class="auth-header">
      <div class="logo-container">
        <mat-icon>lock_person</mat-icon>
      </div>
      <mat-card-title>Welcome Back</mat-card-title>
      <mat-card-subtitle>Sign in to Nexus Finance</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="auth-content">

      <form [formGroup]="form" (submit)="onSubmit()" class="auth-form">

        <div class="login-error" *ngIf="isLoginInvalid">
          <mat-icon>error</mat-icon>
          <span>Invalid username or password.</span>
        </div>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <input matInput placeholder="Enter your username" formControlName="username" autocomplete="username">
          @if (isInvalidControl(form,'username')) {
            <mat-error>{{ errorMessagesForControl(form,'username')}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <mat-icon matPrefix>lock</mat-icon>

          <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Enter your password" formControlName="password" autocomplete="current-password">

          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          @if (isInvalidControl(form,'password')) {
            <mat-error>{{ errorMessagesForControl(form,'password')}}</mat-error>
          }
        </mat-form-field>

        <div class="actions">
          <button mat-flat-button color="primary" class="submit-btn" [disabled]="isLoading">
            @if (isLoading) {
              <div class="loader-content">
                <mat-progress-spinner mode="indeterminate" diameter="20" color="accent"></mat-progress-spinner>
                <span>Signing in...</span>
              </div>
            } @else {
              <span>Sign In</span>
            }
          </button>
        </div>

        <div class="forgot-password">
          <a href="#">Forgot your password?</a>
        </div>

      </form>

    </mat-card-content>

    <mat-card-footer class="auth-footer">
      <p>Protected by Nexus Security Systems</p>
    </mat-card-footer>

  </mat-card>

</div>
