<mat-toolbar color="primary" class="app-toolbar">

  <button mat-button routerLink="/home" class="brand-logo">
    <mat-icon>account_balance</mat-icon>
    <span>NEXUS FINANCE</span>
  </button>

  <span class="spacer"></span>

  <nav class="desktop-nav">

    <a mat-button routerLink="/home" routerLinkActive="active-link">
      Home
    </a>

    <a mat-button routerLink="/clients" routerLinkActive="active-link">
      Clients
    </a>

    <a mat-button routerLink="/loans/apply" routerLinkActive="active-link">
      Request Loan
    </a>

    <a mat-button routerLink="/loans/evaluate" routerLinkActive="active-link" class="accent-btn">
      <mat-icon>gavel</mat-icon> Risk Engine
    </a>

    <button mat-icon-button routerLink="/about" aria-label="About">
      <mat-icon>info</mat-icon>
    </button>
  </nav>

  <button mat-icon-button class="mobile-menu-btn">
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
