@use '@angular/material' as mat;

@include mat.core();

$nexus-primary: mat.m2-define-palette(mat.$m2-indigo-palette, 900);
$nexus-accent: mat.m2-define-palette(mat.$m2-teal-palette, A400);
$nexus-warn: mat.m2-define-palette(mat.$m2-red-palette);

$nexus-theme: mat.m2-define-light-theme((
  color: (
    primary: $nexus-primary,
    accent: $nexus-accent,
    warn: $nexus-warn,
  )
));

@include mat.all-component-themes($nexus-theme);
