<div class="form-wrapper">

  <mat-card class="form-card">

    <mat-card-header class="form-header">
      <div mat-card-avatar class="avatar-bg">
        <mat-icon>monetization_on</mat-icon> <!-- Icono de dinero -->
      </div>
      <mat-card-title>Loan Details</mat-card-title>
      <mat-card-subtitle>Please verify the interest rate before submitting</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="form-content">
      <form [formGroup]="loanForm" (ngSubmit)="onSubmit()" class="form-grid">

        <mat-form-field appearance="outline">
          <mat-label>Client ID</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <input matInput type="number" formControlName="clientId" placeholder="Ex. 1">
          @if (isInvalidControl(loanForm, 'clientId')) {
            <mat-error>{{ errorMessagesForControl(loanForm, 'clientId') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Amount ($)</mat-label>
          <span matPrefix class="currency-prefix">$</span>
          <input matInput type="number" formControlName="amount" placeholder="5000">
          @if (isInvalidControl(loanForm, 'amount')) {
            <mat-error>{{ errorMessagesForControl(loanForm, 'amount') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Term (Months)</mat-label>
          <mat-icon matPrefix>calendar_today</mat-icon>
          <input matInput type="number" formControlName="termInMonths" placeholder="12">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Annual Rate (0.0 - 1.0)</mat-label>
          <mat-icon matPrefix>percent</mat-icon>
          <input matInput type="number" step="0.01" formControlName="annualInterestRate" placeholder="0.15">
          <mat-hint>E.g., 0.15 for 15%</mat-hint>
        </mat-form-field>

      </form>
    </mat-card-content>

    <mat-card-actions align="end" class="form-actions">
      <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="loanForm.invalid" class="submit-btn">
        <mat-icon>send</mat-icon> Submit Request
      </button>
    </mat-card-actions>

  </mat-card>
</div>
